:root {
    --secbor: hsla(285, 56%, 48%, 1);
    --imgbor: rgb(255, 0, 212);
    --header-height: 200px;
}

* {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}

body {
    background-color: hsla(232, 94%, 94%, 1);
}


h1 {
    position: absolute;
    left: -5%;
    top: 2%;
    font-size: 200%;
    font-weight: 800;
    padding: 1%;
    background-color: blueviolet;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: auto;
    text-indent: 100px;
}

h2 {
    font-weight: 600;
}

h3 {
    font-weight: 500;
}

nav {
    justify-content: flex-end;
    align-items: center;
    gap: 1%;
    padding: 3%;
    width: 100%;
    background-color: hsl(291deg 88% 56%);
    height: 80px;
    box-shadow: inset 0px 0px 20px 0px #89aae9;

}

nav a {
    height: 150%;
    width: 10%;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    font-size: 130%;
}

nav a:hover {
    cursor: grab;
    text-decoration: underline;
}

header {
    justify-content: space-between;
    width: 100%;
    height: var(--header-height);
    box-shadow: 0px 3px 20px 1px blue;

}

header p {
    position: relative;
    left: 65%;
    bottom: -65%;
    z-index: 2;
    background-color: blueviolet;
    height: 5%;
    width: auto;
    padding: 2%;
    border-radius: 22px;
    align-content: center;
    font-weight: bold;
    font-size: 130%;
    text-align: center;
}


#bg {
    width: 100%;
    height: var(--header-height);
    object-fit: cover;
    z-index: 0;
    position: absolute;
}

#headshot {
    z-index: 1;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    height: var(--header-height);
}

section {
    margin: 2%;
    width: 100%;
}

footer {
    margin: 2%;
    width: 100%;
}

section h2 {
    width: 20%;
    font-size: 400%;
    align-content: flex-start;
    justify-content: flex-end;
    padding-right: 22px;
    text-align: right;
}

#project1 {
    height: 700px;
    width: 100%;
}

#contact_me {
    margin-top: 4%;
}

#contact_me a {
    font-weight: bold;
    font-size: 130%;
    align-content: center;
}

#contact_me .section_content {
    justify-content: space-between;
    height: auto;
}


#contact_me a:hover {
    text-decoration: underline;
    cursor: grab;
}

#about_me p {
    font-size: 120%;
}

.section_content {
    border-left-style: solid;
    border-left-width: 5px;

    border-left-color: var(--secbor);
    padding: 1% 3% 2% 3%;
    width: 80%;
}

.work_item {
    flex-direction: column;
    width: 46%;
    border-style: double;
    border-color: var(--imgbor);
    margin: 2%;
    height: 360px;
    border-radius: 50px;
}

.work_item img {
    height: 100%;
    width: 100%;
    object-fit: fill;
    opacity: 0.5;
    border-radius: 50px;
}

.work_item:hover {
    border-style: solid;
    box-shadow: inset 0px 0px 8px rgba(232, 102, 236, 1), 0 0 15px rgba(232, 102, 236, 1);
    text-decoration: underline;
}

.work_title:hover,
.work_title p:hover,
.work_title h3:hover {
    cursor: grab;
}

.work_item:hover img {
    opacity: 1;
    cursor: grab;
}

.work_title {
    z-index: 1;
    position: relative;
    bottom: -62%;
    left: -100%;
    width: auto;
    height: 20%;
    align-content: space-around;
    justify-content: flex-start;
    background-color: var(--imgbor);
    text-indent: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}

.work_title h3 {
    font-size: 131%;
    font-weight: bold;
    width: 100%;
}

.work_title p {
    font-size: 110%;
}

#project1 .work_title {
    bottom: -70%;
    height: 16%;
    text-indent: 15px;
}

#project1 h3 {
    font-size: 175%;
}


@media screen and (max-width: 992px) {

    main {
        justify-content: center;
    }

    header p {
        height: 15%;
        left: 58%;
    }

    section h2 {
        font-size: 300%;
    }

}

@media screen and (max-width: 768px) {

    nav {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: auto;
        padding-bottom: 15px;
    }

    nav a {
        width: 100%;
        height: 31px;
        padding: 10px;
    }

    h1 {
        position: relative;
        top: 0;
        width: 100%;
        left: 0;
        justify-content: center;
        align-content: baseline;
        text-indent: unset;
        border-radius: 20px;
        box-shadow: 0px 0 20px 0px aliceblue;
    }

    section h2 {
        margin: 2%;
        width: 100%;
        align-content: center;
        justify-content: center;
        padding: 1%;
        font-size: 200%;
        text-align: center;
    }

    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header p {
        position: relative;
        bottom: -37%;
        left: 0%;
        height: auto;
        width: 57%;
        justify-content: center;
        align-items: baseline;
    }

    main {
        justify-content: center;
    }

    section {
        flex-direction: column;
    }

    .section_content {
        justify-content: center;
        width: 100%;
        padding: 1%;
        border-right-style: solid;
        border-right-width: 5px;
        border-right-color: var(--secbor);
    }

    .section_content a {
        justify-content: center;
        width: 100%;
        gap: 2%;
    }

    .work_item {
        width: 100%;
        margin: 2%;
    }

    .work_title,
    #project1 .work_title {
        bottom: -23%;
        left: -102%;
    }

    #project1 .work_title {
        height: 16%;
    }

    nav a:hover {
        box-shadow: inset 0 0 11px 0px #8c00ff;
    }

    #about_me p {
        padding: 2%;
    }

    #contact_me a {
        height: 74px;
        align-content: center;
        justify-content: center;
    }

    #contact_me a:hover {
        box-shadow: inset 0 0 11px 0px #8c00ff;
    }

    footer {
        margin: 10%;
    }

}

@media screen and (max-width: 576px) {
    footer {
        margin: 15%;
    }

    .work_item {
        height: 300px;
    }

    #project1 {
        height: 400px;
    }

}